In [ ]:
#  Basic Data Types

a = "ali"

30

In [ ]:
# Variables

# Tanimladigimiz her bir degisken hafizada yer eder.
# Ne kadar cok degisken olursa o kadar cok yer isgal eder

In [ ]:
# degiskenler =  ile tanimlanir

In [ ]:
# Degiskenleri ne icin kullaniyoruz? 

# degiskenler bizim isimizi kolaylastirirlar

# cohort10 = "icerisinde 300 kisi var"
# cohort9 =  300 kisi var
# derstekrari = 20 kisi var

# biz cohort 10 ögrencileri icin tek tek isim söylemeyiz
# ve artik cohort 10 gelsin dedigimizde elimizde cohort10 degil 300 ögrenci vardir
# atama assigning yaptik


# degisken icerisindeki veri tipi nedir?

# cohort10 dedigimizde karsimiza 300 ögrenci cikar. yani value muz ögrenci tipidir.
# mesela cohort 6 dedigimizde karsimiza 300 calisan personel cikar. yani valuemuz calisan tipi bir deger

# instructors diye bir variable atadigimizda o zaman veri tipimiz ögretmen tipi bir veri olacaktir


a = "tarik"

b = 123

In [ ]:
# bir degiskene deger atamaya assigning denir.

# myliste = "ayse"  burada ayse ismini myliste degiskenine assign ediyoruz

In [ ]:
# Naming Variables: degiskenlere nasil isim verilir?

# degisken ismi bir integer olamaz

8 = "ali"

print(8)  # bazi kurallarimiz PEP 8 e göre yanlistir ama kod calisir
            # burada ise kod hic calismaz cünkü hatalidir

SyntaxError: ignored

In [ ]:
# degisken isimleri :

# mümkün oldugunca anlasilir olmali

# mümkün oldugunca kisa olmali ama kisaltma yapmak isterken anlasilmaz olmamali

# bedeno = ("python", "linux")  <==  Bad Example

In [ ]:
# iki kelime arasinda - kullanirsak kod calisir mi ?

benim_evim = "kirmizi"

print(benim_evim)

kirmizi

In [ ]:
# nokta da hata verir

benim.evim = "kirmizi"

print(benim.evim)

NameError: ignored

In [ ]:
benim____evim = "kirmizi" # birden cok _ olur

print(benim____evim)

kirmizi

In [ ]:
benim,evim = "kirmizi"  # , de olmaz

print(benim,evim)

ValueError: ignored

In [ ]:
benim/evim = "kirmizi"  # forward slash olmaz

print(benim/evim)

SyntaxError: ignored

In [ ]:
benim+evim = "kirmizi"  # matematiksel isaretler olmaz

print(benim+evim)

SyntaxError: ignored

In [ ]:
# aralarda bosluk olmaz 

benim evim = "kirmizi"

print(benim evim)

SyntaxError: ignored

In [ ]:
# google colab ve jupiter türkce karakter tanir ancak kullanmamakta fayda var 
# cünkü calisma hayatimizda bizim kodumuzu calistiran kisilerin kullandiklari ortamlarda
# bizim kodumuz calismayabilir 


mercedes = 5000 Euro

bmw = 7500 Euro

33

In [ ]:
# python case sensitive dir

# büyük kücük harf paython da önemlidir

time = 3

print(Time)   #  bu islem hata verir
#----------------------------------------

a = "bir"

A = "bir"   # bunlarin ikisi de tamamen farkli degiskenlerdir

# ve ikisinin ASCII kodlari farklidir

In [ ]:
# özel isimleri variable atarsak kod calisir mi?

or = "clarusway"

print(or)

SyntaxError: ignored

In [ ]:
# özel isimleri variable atarsak kod calisir mi?

and = ("class")           


mercedes = 5000

print(mercedes)

SyntaxError: ignored

In [ ]:
# bazi python ideleri özel isimleri de calistirir ama biz kullanmamaya özen gösteriyoruz

2

In [ ]:
# özel isimleri kullanmak zorundaysak;

# basina yada sonuna _ koyabiliriz

and_ = "ve"

_or_ = "yada"

not_ = "not"

class_ = "sinif"

_True_ = "dogru"

In [ ]:
# özel isimleri ezberlemek zorunda degiliz
# yazdigimiz zaman renginden anliyoruz (mavi olur ve yanina aciklama cikar)

In [ ]:
# degisken isimlerinde basta sayi ve tek basina sayi olmaz

4test = ""    # hata verir  

print(4test)

SyntaxError: ignored

In [ ]:
# ortada sayi olur:

test4test = "abc"

print(test4test)

abc

In [ ]:
# özel karakter basta da olmaz sonda da olmaz ortada da olmaz

benim% = "benim"

print(benim%)

SyntaxError: ignored

In [ ]:
ben?im = "benim"

print(ben?im)

SyntaxError: ignored

In [ ]:
## degisken atama:

a = b = c = "ali"

print(b)  # output nedir

print(c)

In [ ]:
computer = a = b = c = "pc"

print(a)  # output nedir

print(c)  # output nedir

pc
pc

In [ ]:
#  =  kullanarak birbirine esit olan birden cok degiskeni tek satirda atayabiliriz

# mesela ilk okul ögretmeni ögrenci notlarini giriyor diyelim 

ali = 90     # bu sekilde de yazilabilir ama uzundur
büsra = 90     
can = 90
demir = 90
esra = 90

ali = büsra = can = demir = esra = 90

# daha sonra bir yerde bize demir in lazim oldugunda 

print(demir)  komutunu calistirmamiz yeterli olacaktir

90

In [ ]:
# Attention!!!: Degisken birden cok olabilir ama deger tektir

meyve = sebze = yemek = icecek = ["portakal", "elma", "su"] 

# buradaki liste 3 elemalidir ama komple tek bir value dur.

In [ ]:
# =  ile birden cok degisken yazilabilir ama value dan sonra

#  =  kullanarak artik baska bir value yazamayiz.

meyve = sebze = yemek = icecek = ["portakal", "elma", "su"] = "ali"

print(meyve)

SyntaxError: ignored

In [ ]:
#  

j = o = s = e = p = h = 41

print(j,o,s,e,p,h)

41 41 41 41 41 41

In [ ]:
thomas = 33
marry = 40
walter = None # ************  Eger birisinin adini bilmiyorsak ve bunu reserve etmek ve 
isabella = 41                 # hafizada yer kaplamamasini istiyorsak o zaman None atanir
                              # None python da hicbir sey demektir. 

                                       
print(walter)             

                              # Bos birakirsak name error hatasi verir
                              # x veremeyiz hata verir 
                              # ve bos bile biraksak hafizada 1 byte yer kaplar
                              # ()  kullanabiliriz ama bu da hafiza da yer kaplar

None

In [ ]:
# assigning yaparken en son satir ne ise hafizada o tutulur

a = 5
a = 10
a = 15
a = 20
a = 25

# print(a)  #  sizce output ne olur ?????

25

In [ ]:
# assigning yaparken en son satir ne ise hafizada o tutulur

a = 5
a += 5
a -= 5
a *= 5
a /= 5    

print(int(a))  #  sizce sonuc ne olur ?????

5

In [ ]:
a = 10    
b = 15
c = 20
d = 30  

c = d



print(c)

print(b)

print(c)

print(d)  ##  ???????  sizce 4 output ne olur ???

30

In [ ]:
# hatirlatma !!!!!

# birden cok satiri ayni anda comment yapmanin diger yolu satirlari secip  control + #

In [ ]:
# task 

x = 15
y = 33
z = x
x = y


print(x)        # Sizce outputlar nedir ??

print(y)

print(z)

In [ ]:
# virgül kullanarak ayni anda birden fazla degisken ve deger atama

# Attention:  ne kadar variable varsa o kadar sayida value olmak zorunda dir

# a, b, c = 5, 3.2, "hello", "world"  # eger variable ve value sayisi esit olmazsa hata verir

# print(a)

In [ ]:
# tam tersi variable sayisi fazla olsa yine hata verir

a, b, c, d, e = 5, 3.2, "hello"

print(a)

ValueError: ignored

In [ ]:
# Yukarida degisken sayisi birden fazla olabilir ama value tek olmak zorunda demistik!!!
# simdi ayni kod üzerinde variable sayisini degistiriyoruz

a = k = n, b, c = 5, 3.2, "hello"

print(k)

# = kullanarak  sonsuz sayida degiskeni tek satirda assign edebiliriz
# Ama value her degisken icin bir tane olmak zorundadir

(5, 3.2, 'hello')

In [ ]:
# value nun tek olmak zorunda oldugunun anlasilmasi icin bir örnek 

babam = annem = kizim = oglum = "seviyorum"

komsum = isarkadasim = patronum = "sevmiyorum"

# burada sevdigimiz veya sevmedigimiz insan sayisi degisebilir ama bu kisilerin 
# bizim kalbimizdeki degeri degismez !!!!

In [ ]:
# degisken sadece bizim atadigimiz bir isimden ibarettir. 
# bu ismi istedigimiz gibi yazabiliriz.
# bu degiskenlerin degerini ise kendimiz belirliyoruz.

In [ ]:
# virgül ile Degisik veri tiplerini yan yana yazabiliriz

a, b, c, d, e, f, g = 3, "ayse", 3.14, 3 + 5j, True, [1, 2, 3], (1, 2, 3)

print(a, type(a))

print(b, type(b))

print(c, type(c))

print(d, type(d))

print(e, type(e))

print(f, type(f))

print(g, type(g))

3 <class 'int'>
ayse <class 'str'>
3.14 <class 'float'>
(3+5j) <class 'complex'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

In [ ]:
#######           DATA TYPES             ################

In [ ]:
# 4 temel tip verimiz vardir

# 1:  String

# 2:  Integer

# 3:  Float 

# 4:  Complex

In [ ]:
#### STRING

In [ ]:
# bir string tek, cift veya üc tirnak icerisinde bir klavyede bulunan bütün karakterlerden olusabilir
# ve buna negativ pozitif ve ondalikli sayilar dahildir
""" 535438461947481948§$§"""""  """

"    "   '       '

"" ""   ''       5327412 ''    3 + 5j

In [ ]:
# type function:

# bir verinin tipini ögrenmek icin kullanilir

# bu function icerisinde bir variable da yazilabilir bir value da yazilabilir

# Example:

computer = "science"  

print(type(computer))       # variable

<class 'str'>

In [ ]:
# type(value) 

# print(type("zehra"))  # tipini ögrenmek istedigimiz bir degeri dogrudan type func icine yaziyoruz

# print(type(9 + 7j))

print(type(3.14))

print( type((3,14)))       

a = 1

b = 2

print(type((a,b)))   

x = (a, b)

print(type(x))

<class 'float'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# type function i bir variable a atayarak calistirabiliriz
# mesela bir application olusturalim. Bu app bize kullanicinin girdigi veri tipini yazdirsin

girdi = ("3", 5, 3.5)

veritipi = type(girdi)

print(veritipi)

<class 'tuple'>

In [ ]:
#### Attention:

# type function ile ayni anda sadece bir veri tipi yazdirabiliriz

# Example:

a = "ahmet"

b = 2

c = 3

# print(type(a, b, c))  # error verir

# dogru yöntem

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'int'>

In [ ]:
#  Integer

# integerlar 0 dahil, negativ ve pozitif tüm tamsayilardan olusur.
# ondalikli sayi icermez

a = 5

b = 0

c = -5

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
##########   float    ##########

In [ ]:
##  ondalikli sayilardan olusur.

# Attention: python da . ve , cok farkli seylerdir.

# Ondalikli sayilar icin . kullaniyoruz.

# , ise verileri, degerleri ve variable lari birbirinden ayirmak icin kullanilir


a = 3.5

b = 3,5

print(type(a))   ####  Sizce output lar nasildir ?

print(type(b))

In [ ]:
0.0 != -1   

# print(type(0.0))

True

In [ ]:
15.0 == 15

True

In [ ]:
#####          boolean      ###########

In [ ]:
# integer lar - sonsuz dan + sonsuza kadar degerler alabilir

# ama boolean lar sadece True ve False alabilir

 true ve false un bas harfleri büyük olmali 

 true = True   

 False

In [ ]:
# yagmur yagiyor mu?

# hava günesli mi ?  

# acik mi kapali mi?

5 == 5 

# 3 > 2

True

In [ ]:
3 > 2

True

In [ ]:
(5 == 5)         

a = (5 == 5)

print(a)

True
True

1

In [ ]:
 ######         type conversion       ############

In [ ]:
# bir veri tipini baska bir veri tipine cevirebiliyoruz

str <=> int
int <=> bool
float <=> int

In [ ]:
# 4 adet function vardir:     

1 :  int
2:   float
3:   str
4:   bool

In [ ]:
#  her deger birbirine cevrilemez!!!

# sadece bazi degerler birbirine cevrilebilir

# example:

a = float("ali")   ## ??? output nedir?

# print(a)

print(float("ali"))

ValueError: ignored

In [ ]:
a = bool(" ")                         

print(a)   # output nedir???

True

In [ ]:
# bütün veri tipleri stringe cevrilebilir:

c = str(True)



print(c)

print(str(True))
print(type(c))


# print(c, type(c), sep = " ")

# print(type(str(True)))

True
True
<class 'str'>

In [ ]:
# bütün veri tipleri stringe cevrilebilir: 

d = str(55)

print(d, type(d))

55 <class 'str'>

In [ ]:
# bütün veri tipleri stringe cevrilebilir: 

e = str(3 + 5j)

print(e, type(e))

(3+5j) <class 'str'>

In [ ]:
#  ??????   Neden veri tiplerini birbirlerine cevirme ihtiyaci hissediyoruz??

girdi = input("Lütfen yasinizi giriniz??? :  ")  

print(girdi, type(girdi))

int_girdi = int(girdi)

print(int_girdi, type(int_girdi))

Lütfen yasinizi giriniz??? :  55
55 <class 'str'>
55 <class 'int'>

In [ ]:
##   float bir veriyi integer a cevirme:

# int func calisma prensibi:

# sayinin tam kismini alir ondalikli kismi görmezden gelir.

myfloat = 3.14

newfloat = int(myfloat)

print(newfloat)

3

In [ ]:
##   float bir veriyi integer a cevirme:

a = 15.99

b = int(a)

print(b)      #   output nedir ???

15

In [ ]:
## integer i float a cevirme:

c = 10.3535328

d = float(c, "%.2f")

print(d)        # output nedir?

TypeError: ignored

In [ ]:
string = "{:.2f}, {:.3f}" .format(3.45378, 3.354918365)

print(string)

3.45, 3.355

In [ ]:
string = "{:.4}, {:.3}" .format("123456",  "12345667") 

print(string)

1234, 123

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "I am at _"

print(x - int(v))

print(x - float(y))

print(z + str(x))

28
36.5
I am at _39

In [ ]:
# Pratik yöntem:  bu fonksiyonlar dogrudan print func  icerisinde de kullanilabilir 

print(float(8))

print(str(False))

print(int(4.17))

8.0
False
4

In [ ]:
#  Bu functionlar ile kolayca matematiksel islemler yapabiliriz yada yanyana print ettirebiliriz

# print(int("18") + 20)

# print((20) + 30.5) 

print("ben" , 55 , "yasindayim") 

print("ben"+ "+" +str(55) +"+" +"yasindayim")  

print("55" , "55", type("55"))

ben 55 yasindayim
ben+55+yasindayim
55 55 <class 'str'>

In [ ]:
print("Biz" + "+" "clarusway de" + "+"   " "     "300 kisiyiz")

Biz+clarusway de+ 300 kisiyiz

In [ ]:
integer = 0, 1, -1 # integer 0 yada - ve + tamsayilar

In [ ]:
0.0 == 0 # float

True

In [ ]:
# Attention: 

print(float("5"))   #  str icerisinde integer

5.0

In [ ]:
## Attention 

# her deger tipi stringe cevrilebilir ancak her deger integer a cevrilmez

print(int("ali"))   # output ??

In [ ]:
# iki stringin toplanmasi =>  concatanate

print("ders" + "tekrari") 

## Attention: kod satirindaki bosluklar PEP 8 e göre birakilan bosluklar. Output da cikmaz

derstekrari

In [ ]:
# stringleri toplamanin bir diger yolu => stringleri bir degiskene atamaktir

a = "ders"
b = " "
c = "tekrari"

print(a + b + c)

In [ ]:
#Quiz

number_int = 123
number_flt = 1.23

number_new = number_int + number_flt                     

print("datatype of number_int:", type(number_int))
print("datatype of number_flt:", type(number_flt))

print("Value of number_new:", number_new)
print("datatype of number_new", type(number_new))

datatype of number_int: <class 'int'>
datatype of number_flt: <class 'float'>
Value of number_new: 124.23
datatype of number_new <class 'float'>

In [ ]:
# Quiz2 

number_int = 123
number_str = "456"

print("Data type of number_int:", type(number_int))
print("Data type of number_str:", type(number_str))

Data type of number_int: <class 'int'>
Data type of number_str: <class 'str'>

In [ ]:
#Quiz3

number_int = 123
number_str = "456"

print("Data type of number_int", type(number_int))
print("Data type of number_str before Type Casting:", type(number_str))

number_str = int(number_str)
print("Data type of number_str after Type Casting", type(number_str))

number_sum = number_int + number_str

print("Sum of number_int and number_str:", number_sum)
print("Data type of the sum:", type(number_sum))

Data type of number_int <class 'int'>
Data type of number_str before Type Casting: <class 'str'>
Data type of number_str after Type Casting <class 'int'>
Sum of number_int and number_str: 579
Data type of the sum: <class 'int'>

10