In [1]:
text = "Hello Dear friends"

print(text.split())

['Hello', 'Dear', 'friends']

In [2]:
text = "Hello, Dear, friends"

print(text.split(","))                    # neyden yani hangi ifadeden ayirarak bolmek istiyorsak split icine onu yaziyoruz.

['Hello', ' Dear', ' friends']

In [ ]:
text = " For testing parameter: Londra, Prag, Canada, Beyrut, Isfahan, Phuet, Tokyo"

In [6]:
countries = "Turkiye, Singapur, Malezya, Lubnan, Kanada, Portekiz, Japonya"

country = countries.split(" ", 4)              # buradaki 4 index numarasi oluyor. yani aslinda ilk 4 elemani aliyor sonrasinin hepsini tek eleman olarak alip tamamliyor.Totalde index numarasi 4 olacak sekilde yapiyor.
print(country)

['Turkiye,', 'Singapur,', 'Malezya,', 'Lubnan,', 'Kanada, Portekiz, Japonya']

In [8]:
countries = "Turkiye, Singapur, Malezya, Lubnan, Kanada, Portekiz, Japonya"

country = countries.split(",", 4)              # buradaki 4 index numarasi oluyor. yani aslinda ilk 3 elemani aliyor sonrasinin hepsini tek eleman olarak alip 4"e tamamliyor.Totalde index numarasi 4 olacak sekilde yapiyor.
print(*country, sep="\n")

Turkiye
 Singapur
 Malezya
 Lubnan
 Kanada, Portekiz, Japonya

In [11]:
# yildizin kullanimi:

text = "adana"

print(*text)
print(*text, sep="-")
print(*text, sep="\n")

a d a n a
a-d-a-n-a
a
d
a
n
a

In [13]:
# cumledeki en kisa kelime nedir ve kac karakterden olusuyor.

text = " soru cozumuyle kodlama becerim gelisiyor." 

a = text.split()
print(min(a, key=len))

en_kisa = min(text.split(), key = len)
print(" en kisa kelime {} ve {} karakterden olusmaktadir." .format(en_kisa, len(en_kisa)))

soru
 en kisa kelime soru ve 4 karakterden olusmaktadir.

In [ ]:
##### map()

In [15]:
# map(func, iterable)   , genelde listelerde kullaniyoruz. listenin butun elemanlarina ayni degisikligi uygulatmak istedigimiz zaman bunu func i kullaniyoruz.

list1 = [1,2,3,4,5]
list2 = list(map(float,list1))
list3 = float(list1[0])                         # burada ise sadece 1 elemana erisebiliyoruz.

print(list3)
print(list2)

1.0
[1.0, 2.0, 3.0, 4.0, 5.0]

In [19]:
def discount(x):
  return x-((x*20)/100)

price = [15.3, 17, 10, 22.9, 16.5, 7.7]

new_price = list(map(discount, price))               ### burada discount = elemanlara teker teker ne yapmak istiyoruz , price = neredeki elemanlari kullaniyoeuz

print(new_price)

[12.24, 13.6, 8.0, 18.32, 13.2, 6.16]

In [ ]:
#### zip()

In [22]:
list1 = [1,2,3,4,5]
list2 = ['a', 'b', 'c', 'd', 'e']

print(dict(zip(list1, list2)))                 # hangi formatta cikti istiyorsak zip in onune onu yaziyoruz.
print(list(zip(list1, list2)))
print(tuple(zip(list1, list2)))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]
((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'))

In [23]:
list1 = [1,2,3]                                 ## eger eleman sayilari esit degilse  az elemanli olana gore hareket edecektir, artik elemnanlari almayacaktir.
list2 = ['a', 'b', 'c', 'd', 'e']

print(dict(zip(list1, list2)))
print(list(zip(list1, list2)))
print(tuple(zip(list1, list2)))

{1: 'a', 2: 'b', 3: 'c'}
[(1, 'a'), (2, 'b'), (3, 'c')]
((1, 'a'), (2, 'b'), (3, 'c'))

In [28]:
list1 = [1,2,3]                                 ## eger eleman sayilari esit degilse  az elemanli olana gore hareket edecektir, artik elemnanlari almayacaktir.
list2 = ['a', 'b', 'c', 'd', 'e']

print(dict(zip(list2, list1)))
print(list(zip(list2, list1)))
print(tuple(zip(list2, list1)))

{'a': 1, 'b': 2, 'c': 3}
[('a', 1), ('b', 2), ('c', 3)]
(('a', 1), ('b', 2), ('c', 3))

In [26]:
list1 = [1,1,1]                                 ## eger eleman sayilari esit degilse  az elemanli olana gore hareket edecektir, artik elemnanlari almayacaktir.
list2 = ['a', 'a', 'a', 'a', 'e']

print(dict(zip(list1, list2)))
print(list(zip(list1, list2)))
print(tuple(zip(list1, list2)))
print(set(zip(list1, list2)))

{1: 'a'}
[(1, 'a'), (1, 'a'), (1, 'a')]
((1, 'a'), (1, 'a'), (1, 'a'))
{(1, 'a')}

In [27]:
list1 = [1,2,3]                                 ## eger eleman sayilari esit degilse  az elemanli olana gore hareket edecektir, artik elemnanlari almayacaktir.
list2 = ['a', 'a', 'a', 'a', 'e']

print(dict(zip(list1, list2)))
print(list(zip(list1, list2)))
print(tuple(zip(list1, list2)))
print(set(zip(list1, list2)))

{1: 'a', 2: 'a', 3: 'a'}
[(1, 'a'), (2, 'a'), (3, 'a')]
((1, 'a'), (2, 'a'), (3, 'a'))
{(2, 'a'), (1, 'a'), (3, 'a')}

In [29]:
list1 = [1,1,3]                                 ## eger eleman sayilari esit degilse  az elemanli olana gore hareket edecektir, artik elemnanlari almayacaktir.
list2 = ['a', 'a', 'a', 'a', 'e']

print(dict(zip(list1, list2)))
print(list(zip(list1, list2)))
print(tuple(zip(list1, list2)))
print(set(zip(list1, list2)))

{1: 'a', 3: 'a'}
[(1, 'a'), (1, 'a'), (3, 'a')]
((1, 'a'), (1, 'a'), (3, 'a'))
{(1, 'a'), (3, 'a')}

In [32]:
### enumerate ###

std = ['ahmet', 'john', 'mateusz']

new_std = list(enumerate(std, 9000))

print(new_std)

[(9000, 'ahmet'), (9001, 'john'), (9002, 'mateusz')]

In [33]:
std = ['ahmet', 'john', 'mateusz']

new_std = list(enumerate(std, 9000))

print(sorted(new_std, reverse=True))                 # tersten siralama yaptirmak icin

[(9002, 'mateusz'), (9001, 'john'), (9000, 'ahmet')]

Q-1) Verilen listeden {id:name} olacak sekilde dict olusturunuz.

- test_list = ['ali', 1, 'veli', 2 , 'osman', 3, 'ahmet', 4]
- output : {1:'ali', 2:'veli', 3:'osman', 4:'ahmet'}


:

In [38]:
test_list = ['ali', 1, 'veli', 2 , 'osman', 3, 'ahmet', 4]

names = test_list[0::2]
numbers = test_list[1::2]
new_dict = dict(zip(numbers, names))

print(names)
print(numbers)
print(new_dict)

['ali', 'veli', 'osman', 'ahmet']
[1, 2, 3, 4]
{1: 'ali', 2: 'veli', 3: 'osman', 4: 'ahmet'}

Q-2) Kullanicidan alinan 5 sayi icerisinden en buyuk 2. sayiiyi bulan kodu yaziniz.

-map() ve split() kullaniniz.

In [43]:
numbers = list(map(int,input('enter 5 number :').split()))

# print(numbers)

sec_max = sorted(set(numbers))[-2]                    ## sorted siralama icin kullanildi. set ise kullanicinin ayni rakami 1den fazla yazma ihtimaline karsilik , ayni sayinin tekrar alinmamasi icin yazildi.
print(sec_max)

enter 5 number :45 69 1 5
45

Q-3) Kullanicidan alinan deger kadar numbers listesinin elemanlarini saga kaydiran kodu yazini.

- numbers = [2,3,5,7,11,44,34}

Q-4)Kullanicidan alinan sayinin negatif veya pozitif oldugunu buan kodu yaziniz.

In [45]:
sayi = int(input('bir sayi giriniz :'))

if sayi>0:
  print("pozitif")
elif sayi<0:
  print("negatif")
elif sayi == 0:
  print('number is zero')

bir sayi giriniz :0
number is zero

Q-5) Kullanican 2 deger ve islemi alip sonucunu donduren basit bir hesap makinasei programi yaziniz.

- "1" toplama
- "2" cikarma
- "3" carpma
- "4" bolme

Q-6) Ee-mail ve parola bilgileri ile giris kontrolu yapan pogrami yaziniz.

- email : "D007@coding.com'
- pswrd = "d007

In [48]:
email = "D007@coding.com"
pswrd = "d007"

ent_mail = input('enter mail: ')
ent_pswrd = input("enter password :")

if (ent_mail != email and ent_pswrd == pswrd):
  print('wrong email address')
elif (ent_mail == email and ent_pswrd != pswrd):
  print('wrong password')
elif (ent_mail != email and ent_pswrd != pswrd):
  print('wrong password and email')
else:
  print('login succesfull')

enter mail: ella
enter password :dsfa
wrong password and email