In [1]:
text = "Hello Dear friends"

print(text.split())

['Hello', 'Dear', 'friends']

In [2]:
text = "Hello, Dear, friends"

print(text.split(","))                    # neyden yani hangi ifadeden ayirarak bolmek istiyorsak split icine onu yaziyoruz.

['Hello', ' Dear', ' friends']

In [ ]:
text = " For testing parameter: Londra, Prag, Canada, Beyrut, Isfahan, Phuet, Tokyo"

In [6]:
countries = "Turkiye, Singapur, Malezya, Lubnan, Kanada, Portekiz, Japonya"

country = countries.split(" ", 4)              # buradaki 4 index numarasi oluyor. yani aslinda ilk 4 elemani aliyor sonrasinin hepsini tek eleman olarak alip tamamliyor.Totalde index numarasi 4 olacak sekilde yapiyor.
print(country)

['Turkiye,', 'Singapur,', 'Malezya,', 'Lubnan,', 'Kanada, Portekiz, Japonya']

In [8]:
countries = "Turkiye, Singapur, Malezya, Lubnan, Kanada, Portekiz, Japonya"

country = countries.split(",", 4)              # buradaki 4 index numarasi oluyor. yani aslinda ilk 3 elemani aliyor sonrasinin hepsini tek eleman olarak alip 4"e tamamliyor.Totalde index numarasi 4 olacak sekilde yapiyor.
print(*country, sep="\n")

Turkiye
 Singapur
 Malezya
 Lubnan
 Kanada, Portekiz, Japonya

In [11]:
# yildizin kullanimi:

text = "adana"

print(*text)
print(*text, sep="-")
print(*text, sep="\n")

a d a n a
a-d-a-n-a
a
d
a
n
a

In [13]:
# cumledeki en kisa kelime nedir ve kac karakterden olusuyor.

text = " soru cozumuyle kodlama becerim gelisiyor." 

a = text.split()
print(min(a, key=len))

en_kisa = min(text.split(), key = len)
print(" en kisa kelime {} ve {} karakterden olusmaktadir." .format(en_kisa, len(en_kisa)))

soru
 en kisa kelime soru ve 4 karakterden olusmaktadir.

In [ ]:
##### map()

In [15]:
# map(func, iterable)   , genelde listelerde kullaniyoruz. listenin butun elemanlarina ayni degisikligi uygulatmak istedigimiz zaman bunu func i kullaniyoruz.

list1 = [1,2,3,4,5]
list2 = list(map(float,list1))
list3 = float(list1[0])                         # burada ise sadece 1 elemana erisebiliyoruz.

print(list3)
print(list2)

1.0
[1.0, 2.0, 3.0, 4.0, 5.0]

In [19]:
def discount(x):
  return x-((x*20)/100)

price = [15.3, 17, 10, 22.9, 16.5, 7.7]

new_price = list(map(discount, price))               ### burada discount = elemanlara teker teker ne yapmak istiyoruz , price = neredeki elemanlari kullaniyoeuz

print(new_price)

[12.24, 13.6, 8.0, 18.32, 13.2, 6.16]